<header class="header-wrap">
	<div id="navbar">
		<div class="left">
			{{#if @blog.logo}}
			<div class="logo">
				<a  id="logo" class="logo-image" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
			</div>
			{{else}}
			<div class="logo">
				<div class="logo-no-image"><a href="{{@blog.url}}">{{@blog.title}}</a></div>
			</div>
			{{/if}}
		</div>
		<div class="right">
			<nav class="nav-wrap">
        <ul class="nav-wrap--list">
					{{navigation}}
				</ul>
        <div id="main">
        <div id="mobileNav">
          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
        </div>
        </div>
			</nav>
		</div>
	</div>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	    <ul>
		  {{navigation}}
     </ul>
  </div>
</header>











