{{!< default}}
<div class="top-wrap">
	<section class="title-wrap">
		<div class="top-social">
			{{#if @blog.facebook}}
			<a href="{{facebook_url}}"><i class="facebook"></i></a>
			{{/if}}
			{{#if @blog.twitter}}
			<a href="{{twitter_url}}"><i class="twitter"></i></a>
			{{/if}}
			{{>socialicons}}
		</div>
		<div class="no-featured bg-top{{#if @blog.cover_image}} is-cover" style="background-image: url({{@blog.cover_image}}){{/if}}">
			{{#if @blog.description}}
			<h1 class="title">{{@blog.description}}</h1>
			{{/if}}
			<h2 class="description">{{>description}}</h2>
		</div>
		<div class="vertical text-posts">
			<div class="text rotate">
				{{t "Articles"}}
			</div>
		</div>
	</section>
</div>
{{>loop}}
{{pagination}}
{{>newsletter}}